
<div class="row">
<div class="col-xs-12">
   <!--  <div class="col-xs-12" style="padding-left: 0px !important;" *ngIf="error">
        <div class="alert alert-danger col-lg-5" >
            <p>{{error}}</p>
        </div>
       
    </div> -->
   
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    

    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
  

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="row">
            <div class="form-group col-lg-5">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="text" ngModel name="email" required email>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-lg-5">
                <label for="password">Password</label>
            <input class="form-control" id="password" type="password" ngModel name="password" minlength="6" required>
            </div>

        </div>
        
        <div >
            <button [disabled]="!authForm.valid" class="btn btn-primary marginBtn" type="submit">{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
            <button class="btn btn-primary marginBtn" (click)="onSwitchMode()" type="button">Switch To {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
        </div>
        
    </form>
</div>
</div>